<%= form_for @city, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
  <p>New city name: <%= f.text_field :name %></p>
  Select an State: <%= f.select :state_id, State.all.collect { |p| [ p.name, p.id ] }, include_blank: 'Select something' %>
  <%= f.submit "Create" %>
<% end %>
